@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
}
h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  color: #333;
  font-weight: bold;
}

h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
li {
  font-size: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
td {
  font-size: 15px;
  color: #333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
a {
  color: #2a95be;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #4f4f4f;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;

  border-bottom: 2px solid #87ceeb; /* Changed from red to light blue */
  display: inline-block;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #0c739c; /* Changed from original color to light blue */
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #75c2d6; /* Lighter version of light blue for hover effect */
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #2a95be;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #424242;
}
.navbar-nav > li > a {
  text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {
  background: #141414;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
}
#main-nav.navbar-default .navbar-nav > li.active > a,
#main-nav.navbar-default .navbar-nav > li.open > a,
#main-nav.navbar-default .navbar-nav > li:hover > a {
  background: transparent;
  color: #ffffff;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar-default .navbar-toggle {
  margin-top: 50px; /* Adjust the margin-top to center the toggle button */
}

.navbar-header {
  min-height: 50px; /* Adjust to the height of the logo */
}

.navbar.navbar-default .navbar-brand {
  padding: 0 5px; /* Remove padding to allow for larger logo */
  display: flex; /* Ensures vertical centering */
  align-items: center; /* Ensures vertical centering */
  height: 100px; /* Adjust height to size of logo */
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2a95be; /* Light blue for hover state */
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-nav.navbar-default {
  background: #141414;
}
@media only screen and (min-width: 768px) {
  #main-nav.navbar-default {
    background: #141414;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 36px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  #main-nav.navbar-default .navbar-nav > li.active > a,
  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    color: #87ceeb; /* Light blue background for active/open links */
  }
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a {
    padding: 15px 0;
    color: #a8a8a8;
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #2a95be;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #2a95be;
    background-color: transparent;
  }
}
#hero-banner {
  background: url("../images/banner/bg1.png") no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  align-items: center;
  height: 700px; /* Adjust the height as needed */
}
#hero-banner.item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#hero-banner.banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
}
#hero-banner h2 {
  font-size: 100px; /* Large font size for impact */
  line-height: 80px;
  color: #fff;
  text-align: center;
  margin-top: 230px; /* Adjust as necessary */
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.979); /* Horizontal, vertical offset and blur with black shadow for readability */
  font-weight: bold; /* Optional: if you want the text to be bold */
}
#hero-banner.banner-inner h2 > span {
  color: #2a95be;
}
#hero-banner.banner-inner .btn {
  margin-top: 10px;
}
.text-overlay {
  position: relative;
  text-align: center;
  width: 100%;
}
.company-description {
  font-size: 2rem; /* Smaller font size for description */
  margin-bottom: 40px;
  margin-top: 30px;
  font-weight: bold; /* Optional: if you want the text to be bold */
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.979); /* Horizontal, vertical offset and blur with black shadow for readability */
}

#hero-text {
  border-top: 1px solid #ffffff;
  background: #2a95be; /* Light blue background for active/open links */
  color: #f4f4f4;
}
#hero-text h2 {
  margin-top: 0;
}
#hero-text .btn {
  color: #2a95be;
  background: #fff;
}
#cta2 {
  background: #2a95be;
  color: #fff;
  padding-top: 70px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #2a95be;
}
#features h2,
#portfolio p {
  color: #4a4a4a;
}
#features {
  padding: 140px 0;
  background: #ffffff;
  color: #000;
}
.btn-large {
  padding: 20px 40px; /* Larger padding for a bigger button */
  font-size: 24px; /* Larger font size for the text inside the button */
  border-radius: 5px; /* Adjust the border-radius if you want rounded corners */
}

#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 140px 0 75px;
}
.media.service-box {
  margin: 25px 0 36px;
  padding: 20px 15px 10px;
  background: #ffffff;
  overflow: hidden;
  border-bottom: 2px solid #e0e0e0;
}
.media.service-box .pull-left {
  margin-right: 0px;
}
.media.service-box .pull-left > i {
  font-size: 69px;
  height: 94px;
  line-height: 64px;
  text-align: center;
  width: 106px;
  color: #2a95be;
  /* background:#fff; */
  /* box-shadow: inset 0 0 0 1px #d7d7d7; */
  /* -webkit-box-shadow: inset 0 0 0 1px #d7d7d7; */
  transition: background-color 400ms, background-color 400ms;
  position: relative;
  border-bottom: 0;
  padding: 14px;
  margin: 60px 10px 0 -25px;
  position: relative;
  bottom: 44px;
  left: 14px;
}
#hero-banner h2,
#hero-banner p {
  color: #fff;
}
.media.service-box:hover .pull-left > i {
}
#portfolio {
  padding: 140px 0;
  background: #ffffff;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin: 0px 2px;
  background: #2a95be; /* Light blue background for active/open links */
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #2a95be;
  color: #ffffff;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
  text-align: center;
  background: #343434;
  color: #282828;
  padding: 0 0 4px 0;
  font-weight: normal;
}
#portfolio .portfolio-item .portfolio-item-inner h4 {
  font-weight: 400;
  font-size: 16px;
  color: #62bdf0;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(52, 52, 52, 0.87);
  color: #fff;
  height: 100%;
  text-align: center;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 0 1px #fff;
  display: block;
  -webkit-box-shadow: 0 0 0 1px #fff;
  text-align: center;
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15px;
}
#testimonial {
  background: #474747;
  background-size: cover;
  padding: 140px 0;
  color: #fff;
  background: #47536d url("../images/banner/bg.jpg") no-repeat 100%;
  background-size: cover;
  background-blend-mode: inherit;
}
#testimonial h2 {
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 8px;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 8px;
}

.team-wrapper {
  overflow-x: hidden;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transform: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 30px;
  background: rgb(219, 219, 219);
}
.use-cases-section {
  background-color: #f7f7f7;
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/banner/bg.png") no-repeat 100%;
  background-size: cover;
  background-blend-mode: inherit;
}

.section-header .section-title {
  color: #333;
  margin-bottom: 30px;
}

.use-cases-list {
  margin-bottom: 30px;
}

.use-case {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.use-case:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  background: #e9ecef;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.custom-icon {
  font-size: 28px;
  color: #2a95be;
}

.use-case h4 {
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.use-case p {
  color: #666;
  line-height: 1.6;
}

.btn-primary {
  background-color: #2a95be;
  border-color: #2a95be;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Optional: if you want the text to be bold */
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.979); /* Horizontal, vertical offset and blur with black shadow for readability */
}

.btn-primary:hover {
  background-color: #2a95be;
  border-color: #2a95be;
}

#about {
  padding: 140px 0;
  background: #e5e5e5;
  color: #4f4f4f;
}
#about h2 {
  color: #4f4f4f;
}
.use-cases-section {
  position: relative;
}

.use-cases-section .section-header,
.use-cases-section .section-header h2,
.use-cases-section .section-header p {
  color: #ffffff; /* Sets the text color to white for all text and headings */
}

.use-cases-section.top-divider:before,
.use-cases-section.bottom-divider:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px; /* Adjust height to your preference */
}

.use-cases-section.top-divider:before {
  bottom: 100%;
  background: linear-gradient(to right, transparent 50%, #0685da 50%);
  border-left: 30vw solid transparent;
  border-right: 120vw solid transparent;
  border-bottom: 20px solid #2a95be; /* Height should match above */
}

.use-cases-section.bottom-divider:after {
  top: 100%;
  background: linear-gradient(to right, #3498db 50%, transparent 50%);
  border-left: 120vw solid transparent;
  border-right: 20vw solid transparent;
  border-top: 20px solid #2a95be; /* Height should match above */
}
.popular-choice-image {
  display: block; /* Needed to apply margin auto for centering */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%; /* Adjust the size as needed */
  max-width: 1500px; /* Optional: to limit the maximum size */
}

.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  position: relative;
  color: #fff;
  padding: 60px 0;
}
#business-stats:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141414;
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  background: #47536d url("../images/banner/bg.jpg") no-repeat 100%;
  background-size: cover;
}
#business-stats {
  padding: 140px 0 70px;
  background: #2a95be; /* Light blue background for active/open links */
  background-size: cover;
  color: #fff;
  border-top: 13px solid #87ceeb; /* Light blue background for active/open links */
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #fff;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: normal;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 5px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 140px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #d0d0d0;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #ffffff;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border-bottom: 2px solid #87ceeb; /* Changed from red to light blue */
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -10px;
  display: inline-block;
  width: 100%;
  height: 116px;
  color: #87ceeb; /* Light blue background for active/open links */
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #ffffff;
  border: 1;
}
#pricing ul.pricing.featured li.plan-header .price-duration {
  color: #ffffff;
}
#pricing ul.pricing.featured li.plan-header {
  background: #87ceeb; /* Changed from red to light blue */
  border-bottom: 2px solid #87ceeb; /* Light blue background for active/open links */
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #ffffff;
}
#contact-us {
  padding: 100px 0 10px;
}
#contact-us h1,
#contact-us h2 {
}

/*Contact*/
.contact-info {
  padding: 60px 0;
}
.contact-info address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 27px;
  font-size: 15px;
}
.contact-info .form-control {
  padding: 6px 12px;
  border-radius: 0;
}
.business-stats:before {
  content: "";
  margin: 17px;
  display: block;
  border: currentcolor;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  width: 100px;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #141414;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #8ed2ff;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  padding: 3px 0;
  width: 50px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media only screen and (max-width: 480px) {
  #hero-banner h2 {
    margin-top: 280px;
    font-size: 26px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.68);
    padding: 10px;
  }
  #hero-banner p {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.68);
    padding: 10px;
  }
  #portfolio .portfolio-filter {
    list-style: none;
    padding: 0;
    margin: 0 0 12px;
  }
  #portfolio .portfolio-filter > li a {
    display: block;
    padding: 7px 15px;
    margin: 5px 2px;
  }
  #portfolio .portfolio-item {
    width: 48.9%;
    padding: 8px;
  }
  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
    width: 28px;
    height: 24px;
    line-height: 24px;
    margin: 9px auto;
  }
  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
    padding: 7px 0 0;
  }
}
